/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap');

/* Resetting default margin, padding, and box-sizing */
* {
    margin-top:  1px;
    margin-bottom:  1px;
    margin-right:  1px;
    margin-left:  1px;
    padding: 0;
    box-sizing: border-box;
}

/* Background Image Styles */
.bg-img {
    background: url('/static/CollegePrediction/img/480630.jpg') no-repeat center center fixed;
    height: 99vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Background Overlay Styles */
.bg-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, 0.4);
}

/* Main Content Container Styles */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
    max-width: 350px;
    width: 90%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: -1px 4px 30px 0px rgba(0, 0, 0, 0.75);
}

/* Header Styles */
.content header {
    color: #fff;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: 'Poppins', sans-serif;
}

/* Logo Styles */
.logo {
    max-width: 65%;
    margin-bottom: 15px;
}

/* Input Field Styles */
.field {
    margin-bottom: 15px; 
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
}

.field span {
    color: #222;
    width: 40px;
    line-height: 45px;
    padding: 0 10px;
}

.field input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

/* Additional Styles */
.space {
    margin-top: 16px;
}

input[type="submit"] {
    background: linear-gradient(to right, #0000ff 0%, #6666ff 100%);
    border: 1px solid linear-gradient(to right, #0000ff 0%, #6666ff 100%);
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

input[type="submit"]:hover {
    background: linear-gradient(to left, #0000ff 0%, #6666ff 100%);
}

.login {
    color: #fff;
    margin: 20px 0;
    font-family: 'Poppins', sans-serif;
}

.signup {
    color: #fff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.signup a {
    color: #37ff00;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    .bg-img {
        height: 100vh;
    }

    .content {
        max-width: 80%;
        padding: 10px;
    }

    .field {
        height: 40px;
    }

    .field input {
        font-size: 14px;
    }
}

@media only screen and (max-width: 480px) {
    .bg-img {
        height: 99vh;
    }

    .content {
        max-width: 100%;
    }

    .field {
        height: 35px;
    }

    .field input {
        font-size: 13px;
    }
}
