{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>College Admission Predictor</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

<!-- Favicons -->
<link rel="icon" sizes="180x180" href="{% static 'CollegePrediction/img/favicon.png' %}">
<link rel="apple-touch-icon" sizes="32x32" href="{% static 'CollegePrediction/img/apple-touch-icon.png' %}">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="{% static 'CollegePrediction/assets/vendor/aos/aos.css' %}" rel="stylesheet">
<link href="{% static 'CollegePrediction/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'CollegePrediction/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'CollegePrediction/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
<link href="{% static 'CollegePrediction/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
<link href="{% static 'CollegePrediction/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
<link href="{% static 'CollegePrediction/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{% static 'CollegePrediction/assets/css/style.css' %}" rel="stylesheet">

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Reset the selected value for each dropdown to the default (empty) value
    document.querySelectorAll('select').forEach(function (select) {
      select.value = "";
    });

    const form = document.getElementById('admissionPredictorForm');

    if (form) {
      form.addEventListener('submit', function (event) {
        // Validate Rank
        const rankInput = form.querySelector('input[name="rank"]');
        if (isNaN(rankInput.value) || rankInput.value <= 0 || rankInput.value >100000) {
          alert("Please enter a valid rank.");
          event.preventDefault();
          return;
        }

        // Validate CET Score
        const cetScoreInput = form.querySelector('input[name="cetScore"]');
        if (isNaN(cetScoreInput.value) || cetScoreInput.value < 0 || cetScoreInput.value > 100) {
          alert("Please enter a valid CET score.");
          event.preventDefault();
          return;
        }

        // Validate Percentage
        const gpaInput = form.querySelector('input[name="gpa"]');
        const gpaValue = parseFloat(gpaInput.value);
        if (isNaN(gpaValue) || gpaValue < 0 || gpaValue > 100) {
          alert("Please enter a valid percentage.");
          event.preventDefault();
        }
      });
    }
  });
</script>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html"><img src="{% static 'CollegePrediction/img/Swastik_Logo_img2.png' %}" alt="" class="img-fluid"></a></h1>
    
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#predictor">Predictor</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#faq">FAQ</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li>{% if user.is_authenticated %}
                 <a href="{% url 'logout' %}">Logout</a>
              {% endif %}
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- End navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Unlock Your Future with College Admission Prediction</h1>
          <h2>We are a team of data-driven experts providing accurate predictions for your college admission success.</h2>
            <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#predictor" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static 'CollegePrediction/assets/img/hero-img.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <!--************************************Contaniner Section *******************************-->
  <section id="predictor">
    <div class="custom-container mt-4">
      <div class="custom-title">
        <h2>Predictor</h2>
      </div>
        <div class="custom-row">
            <div class="custom-col-md-6 offset-md-3">
                <div class="custom-content">
                    <!-- College Admission Predictor Form -->
                    <div class="custom-details">
                        <h2>College Admission Predictor</h2>
                        <p>Enter the details below</p>
  
                        <form method="post" action="{% url 'prediction' %}" id="admissionPredictorForm">
                            {% csrf_token %}
  
                            <div class="custom-field">
                              <select name="gender" required>
                                <option value="" selected disabled>Select University</option>
                                <option value="SPPU" selected>SPPU</option>
                            </select>                            </div>
                            <div class="custom-field space">
                              <select name="gender" required>
                                <option value="" selected disabled>Select Gender</option>
                                <option value="Male" selected>Male</option>
                                <option value="Female" selected>Female</option>
                            </select>
                            </div>
                            <div class="custom-field space">
                              <input type="text" name="rank" required placeholder="Your Rank">
                            </div>
                            <div class="custom-field space">
                              <select name="seattype" required>
                                <option value="" selected disabled>Select Seat Type</option>
                                <option value="Home University" selected>Home University</option>
                                <option value="Other Than Home University" selected>Other Than Home University</option>
                                <option value="State Level" selected>State Level</option>
                              </select>
                          </div>
  
                            <div class="custom-field space">
                              <select name="round" required>
                                <option value="" selected disabled>Select Round</option>
                                <option value="1" selected>1</option>
                                <option value="2" selected>2</option>
                              </select>                            </div>
  
                            <div class="custom-field space">
                              <select name="category" required>
                                <option value="" selected disabled>Select Category</option>
                                <option value="OPEN">OPEN</option>
                                <option value="SC">SC</option>
                                <option value="ST">ST</option>
                                <option value="OBC">OBC</option>
                                <option value="EBC">EBC</option>
                                <option value="NT">NT</option>
                                <option value="VJ">VJ</option>
                                <option value="TFWS">TFWS</option>
                                <option value="PWD">PWD</option>
                                <option value="EWS">EWS</option>
                              </select>
                            </div>
                            <div class="custom-field space">
                              <input type="text" name="cetScore" required placeholder="Your CET Score">
                            </div>
  
                            <div class="custom-field space">
                              <input type="text" name="gpa" required placeholder="Your Percentage">
                            </div>
  
                            <div class="custom-field">
                                <button type="submit">Generate College List</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!--************************************End Contaniner Section *******************************-->


  <main id="main">

   
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
          <h3>Learn More <span>About Swastik Group</span></h3>
          <p>Welcome to Swastik Group, a collective endeavor driven by passion, innovation, and the pursuit of excellence.</p>

        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
                At Swastik Group, we believe in leveraging technology to create meaningful solutions that make a positive impact on society. Our collaborative spirit and diverse skill sets converge to bring forth innovative projects that address real-world challenges.
            </p>
            <ul>
                <li><i class="ri-check-double-line"></i> Passionate about technology and its transformative potential</li>
                <li><i class="ri-check-double-line"></i> Committed to excellence and continuous learning</li>
                <li><i class="ri-check-double-line"></i> Dedicated to making a positive impact through our projects</li>
            </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
                Our current project, the College Admission Predictor, is a testament to our commitment to simplifying and streamlining the college admission process. Using advanced algorithms, we aim to provide students with insights into their potential college options based on various criteria such as rank, branch, and category.
            </p>
            <a href="#" class="btn-learn-more">Learn More about College Admission Predictor</a>
        </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Get to know the hardworking individuals behind our project.</p>
        </div>

        <div class="row">

          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'CollegePrediction/assets/img/team/team-1.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Rushikesh Patil</h4>
                <span>Student At DYPCOEI</span>
                <p>Admission Predictor: Navigate informed choices, ensuring your academic success.</p>                <div class="social">
                  <a href="https://www.linkedin.com/in/rushi-patil-dev"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
        
          <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'CollegePrediction/assets/img/team/team-2.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Anmol Pawar</h4>
                <span>Student At DYPCOEI</span>
                <p>Precision meets choice: Our College Admission Predictor empowers your decisions.</p>                <div class="social">        
                  <a href="https://www.linkedin.com/in/anmol-pawar"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
        
          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'CollegePrediction/assets/img/team/team-3.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Pratik Lonare</h4>
                <span>Student At DYPCOEI</span>
                <p>Unlock admission insights, turning the engineering of anticipation into transparency.</p>                <div class="social">
                  <a href="https://www.linkedin.com/in/pratik-lonare"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
        
          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'CollegePrediction/assets/img/team/team-4.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dhiraj Mathapati</h4>
                <span>Student At DYPCOEI</span>
                <p>Technology simplifies admissions: Explore your educational future with our Predictor.</p>                <div class="social">
                  <a href="https://www.linkedin.com/in/kadayya-mathapati"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
        
        </div>
        
      </div>
    </section><!-- End Team Section -->

    
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
          <h3><span>Questions</span></h3>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What is the Swastik Group and College Admission Predictor project about? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Swastik Group is a team working on the College Admission Predictor project, aiming to provide a platform to predict college admissions based on various criteria. The project utilizes innovative methods to assist students in making informed decisions about their academic future.
                </p> 
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">How can I use the College Admission Predictor tool? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Using the College Admission Predictor tool is simple. Fill in the required details such as your name, rank, branch preference, category, CET score, and GPA. Click the "Generate College List" button, and the tool will provide you with a list of colleges that match your criteria.
                </p> 
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Is the College Admission Predictor tool accurate? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  The College Admission Predictor tool utilizes advanced algorithms and data analysis to provide accurate predictions. However, it's important to note that predictions are based on historical data and trends, and actual admission outcomes may vary.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">How frequently is the predictor tool updated with new data? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  The College Admission Predictor tool is regularly updated with the latest data and trends in college admissions. Our team ensures that the tool reflects the most recent information to provide users with reliable predictions.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Can I save or print the generated college list for future reference? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Yes, you can! After generating the college list, you'll have options to save or print the results for future reference. Feel free to use these features to keep track of your college preferences and admission predictions.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Feel free to get in touch with us for any inquiries or questions.</p>
       </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>DYPCOEI, Varale, Talegoan, Pune </p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>rushi.patil.dev@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 8712346576</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3778.143634226183!2d73.6883769!3d18.747120199999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b30672e789d3%3A0x576e22fb0b7d4c64!2sDr.%20D%20Y%20Patil%20College%20of%20Engineering%20%26%20Innovation%2C%20Varale%2C%20Talegaon%2C%20Pune!5e0!3m2!1sen!2sin!4v1704288846840!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="{% url 'contact' %}" method="post" role="form" class="php-email-form">
              {% csrf_token %}
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 footer-contact">
            <h3>Swastik Group</h3>
            <p>
              Dr.D.Y.Patil College Of Engineering And Innovation <br>
              Varale Talegoan Pune<br>
            </p>
          </div>

          <div class="col-lg-6 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#predictor">Predictor</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#team">Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#faq">FAQ</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact</a></li>
            </ul>
          </div>
       </div>
     </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Swastik Group</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a>Swastik Group</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
<script src="{% static 'CollegePrediction/assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'CollegePrediction/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'CollegePrediction/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'CollegePrediction/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'CollegePrediction/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'CollegePrediction/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
<script src="{% static 'CollegePrediction/assets/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'CollegePrediction/assets/js/main.js' %}"></script>


</body>

</html>